In [1]:
import pandas as pd
import re

In [2]:
## Analisando colunas e dados

In [3]:
dados = pd.read_csv('spotify_top_songs.csv', sep=',')

dados.head()

,id,artist_names,track_name,source,key,mode,time_signature,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence,loudness,tempo,duration_ms,weeks_on_chart,streams
0,000xQL6tZNLJzIrtIgxqSl,"ZAYN, PARTYNEXTDOOR",Still Got Time (feat. PARTYNEXTDOOR),RCA Records Label,G,Major,4 beats,0.748,0.627,0.0639,0.13100,0.0,0.0852,0.524,-6.029,120.963,188491,17,107527761
1,003eoIwxETJujVWmNFMoZy,Alessia Cara,Growing Pains,Def Jam Recordings,C#/Db,Minor,4 beats,0.353,0.755,0.7330,0.08220,0.0,0.3900,0.437,-6.276,191.153,193680,2,9944865
2,003vvx7Niy0yvhvHt4a68B,The Killers,Mr. Brightside,Island Records,C#/Db,Major,4 beats,0.352,0.911,0.0747,0.00121,0.0,0.0995,0.236,-5.230,148.033,222973,125,512388123
3,00B7TZ0Xawar6NZ00JFomN,"Cardi B, Chance the Rapper",Best Life (feat. Chance The Rapper),Atlantic/KSR,A,Major,4 beats,0.620,0.625,0.5530,0.28700,0.0,0.3140,0.665,-7.438,167.911,284856,2,11985346
4,00Blm7zeNqgYLPtW6zg8cj,"Post Malone, The Weeknd",One Right Now (with The Weeknd),Republic Records,C#/Db,Major,4 beats,0.687,0.781,0.0530,0.03610,0.0,0.0755,0.688,-4.806,97.014,193507,30,301860377

In [4]:
dados.shape

(6513, 19)

In [5]:
dados.dtypes

id                   object
artist_names         object
track_name           object
source               object
key                  object
mode                 object
time_signature       object
danceability        float64
energy              float64
speechiness         float64
acousticness        float64
instrumentalness    float64
liveness            float64
valence             float64
loudness            float64
tempo               float64
duration_ms           int64
weeks_on_chart        int64
streams               int64
dtype: object

In [6]:
teste = dados.iloc[60:80, 1:2]
teste

                          artist_names
60                        Taylor Swift
61                         Miley Cyrus
62           Hearts & Colors, Andrelli
63       ¥$, Kanye West, Ty Dolla $ign
64           Martin Garrix, Bebe Rexha
65               French Montana, Drake
66                        Taylor Swift
67                        Travis Scott
68                          Bebe Rexha
69                             Piso 21
70                                TINI
71                       Billie Eilish
72  Marília Mendonça, Maiara & Maraisa
73                  Piso 21, Micro TDH
74                              Eminem
75        The Chainsmokers, Bebe Rexha
76                        Taylor Swift
77                               Drake
78                  Peso Pluma, Anitta
79                              DaBaby

In [7]:
# Divide a string em artistas individuais e conta as ocorrências
artistas = dados['artist_names'].str.split(', ').explode().value_counts().reset_index()

# Renomeia as colunas
artistas.columns = ['Artista', 'Quantidade']

# Imprime o DataFrame resultante
artistas.head(20)

          Artista  Quantidade
0           Drake         229
1    Taylor Swift         203
2       Bad Bunny         159
3    Travis Scott         127
4     Post Malone         111
5      Juice WRLD         110
6      The Weeknd         104
7   Ariana Grande         101
8       21 Savage          97
9             BTS          95
10       J Balvin          90
11     Kanye West          89
12     Ed Sheeran          84
13   Lil Uzi Vert          83
14         Future          81
15  Justin Bieber          78
16          Ozuna          76
17         Eminem          75
18       Lil Baby          67
19    Nicki Minaj          62

In [8]:
padrao = r'[^a-zA-Z0-9\s]'

# Lista para armazenar os artistas que atendem ao critério
artistas_analisar = []

# Iterar sobre as linhas do DataFrame e adicionar os artistas que atendem ao critério à lista
for index, row in artistas.iterrows():
    artista = row['Artista']
    # Verificar se o nome do artista contém caracteres que não são letras nem números
    if re.search(padrao, artista):
        artistas_analisar.append(artista)

# Criar um novo DataFrame com os artistas que atendem ao critério
artistas_analisar = pd.DataFrame({'Artista': artistas_analisar})

artistas_analisar.head(50)

                   Artista
0                  J. Cole
1            Ty Dolla $ign
2                  Beyoncé
3               A$AP Rocky
4                  ROSALÍA
5               Anne-Marie
6            Lenny Tavárez
7           Anderson .Paak
8                   G-Eazy
9                       ¥$
10           Zion & Lennox
11                  Tiësto
12                Arcángel
13                    P!nk
14     Panic! At The Disco
15           Michael Bublé
16        Marília Mendonça
17                Måneskin
18                   JAY-Z
19             Luísa Sonza
20      Axwell /\ Ingrosso
21               Zé Felipe
22              C. Tangana
23     Zé Neto & Cristiano
24          Wisin & Yandel
25                (G)I-DLE
26              Rafa Pabön
27                  j-hope
28                      MØ
29       Israel & Rodolffo
30              Ñengo Flow
31            Jasiel Nuñez
32  Os Barões Da Pisadinha
33             Dímelo Flow
34                   bbno$
35        Hugo & Guilherme
36                  H.E.R.
37          Jowell & Randy
38           Royce Da 5'9"
39              João Gomes
40          Jorge & Mateus
41       Marcynho Sensação
42    Tarcísio do Acordeon
43      Henrique & Juliano
44              Elley Duhé
45            Why Don't We
46                   Matuê
47          Wesley Safadão
48         Miksu / Macloud
49         Vargas & Lagola

In [9]:
ocorrencias_k = artistas_analisar[artistas_analisar['Artista'].str.contains('¥')]
ocorrencias_k

  Artista
9      ¥$

In [10]:
ocorrencias_k = artistas[artistas['Artista'].str.contains('¥')]
ocorrencias_k

    Artista  Quantidade
166      ¥$          14

In [11]:
teste = dados.iloc[63]

In [12]:
type(teste['artist_names'])

str